page-home {

  .question{
    color:#fff;
  }
  .point{
    color:#fff;
  }
  .toolbar-title-md{
    display: flex;
    justify-content: space-between;
  }
  .toolbar-background,.toolbar-title-ios{
    background: #3c3c3c;
    color:#f1f1f1;
  }
  .scroll-content{
    display: flex;
    flex-wrap:wrap;

    .color{
      width:50%;
      position: relative;
      display: flex;
      justify-content:center;
      align-items:center;

      .helpersColor{
        background: #3c3c3c;
        color:#f1f1f1;
        padding: 10px;
      }
    }
    .startBlock{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);

      button{
        position: absolute;
        top:35%;
      }
    }
  }
}
