<ion-content>
  <ion-slides loop="false" autoplay="false" zoom="false" pager='true'>
    <ion-slide class='nav1 nav'>
      <div class="header_page">
        <h1>Easy mode</h1>
        <div class="img-level"><img src="assets/img/baby.png" alt=""></div>
      </div>
      <div class="subButton">
        <div class="ico_block">
          <div class="btn_play" (click)="goToEasyPage()">
            <ion-icon ios="md-play" md="md-play"></ion-icon>
          </div>
          <div class="btn_help" (click)="toggleHelp('easy')">
            <ion-icon ios="md-help" md="md-help"></ion-icon>
          </div>
        </div>
      </div>
      <div class="helper" *ngIf="helpeasy">
        <span>ceci est un message d'aide pour expliquer le principe du jeux</span>
      </div>
    </ion-slide>
    <ion-slide class='nav2 nav'>
      <div class="header_page">
        <h1>Normal mode</h1>
        <div class="img-level"><img src="assets/img/boy.png" alt=""></div>
      </div>
      <div class="subButton">
        <div class="ico_block" >
          <div class="btn_play" (click)="goToNormalPage()">
            <ion-icon ios="md-play" md="md-play"></ion-icon>
          </div>
          <div class="btn_help" (click)="toggleHelp('normal')">
            <ion-icon ios="md-help" md="md-help"></ion-icon>
          </div>
        </div>
      </div>
      <div class="helper" *ngIf="helpnormal">
        <span>ceci est un message d'aide pour expliquer le principe du jeux</span>
      </div>
    </ion-slide>
    <ion-slide class='nav3 nav'>
      <div class="header_page">
        <h1>Hard mode</h1>
        <div class="img-level"><img src="assets/img/men.png" alt=""></div>
      </div>
      <div class="subButton">
        <div class="ico_block">
          <div class="btn_play">
            <ion-icon ios="md-play" md="md-play"></ion-icon>
          </div>
          <div class="btn_help" (click)="toggleHelp('hard')">
            <ion-icon ios="md-help" md="md-help"></ion-icon>
          </div>
        </div>
      </div>
      <div class="helper" *ngIf="helphard">
        <span>ceci est un message d'aide pour expliquer le principe du jeux</span>
      </div>
    </ion-slide>
    <ion-slide class='nav4 nav'>
      <div class="header_page">
        <h1>Doom mode</h1>
        <div class="img-level"><img src="assets/img/men2.png" alt=""></div>
      </div>
      <div class="subButton">
        <div class="ico_block">
          <div class="btn_play">
            <ion-icon ios="md-play" md="md-play"></ion-icon>
          </div>
          <div class="btn_help" (click)="toggleHelp('doom')">
            <ion-icon ios="md-help" md="md-help"></ion-icon>
          </div>
        </div>
      </div>
      <div class="helper" *ngIf="helpdoom">
        <span>ceci est un message d'aide pour expliquer le principe du jeux</span>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
