.back-button.show-back-button{
  display: none;
}
.ion-icon{
  color:#fafafa;
  font-size: 2.2em;
}
page-nav {
  .slides{
    background-color: #363A46;
    color:#444444;

    .slide-zoom{
      color:#fafafa;
      font-size: 2.2em;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
    }
    .ico_block{
      // box-shadow:0 6px 10px 0 rgba(0, 0, 0, 0.3),0 2px 2px 0 rgba(0, 0, 0, 0.2);
      display: inline-block;
      height: 80px;
      line-height: 80px;
    }
    .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet:first-child{
      background-color: #6ED69A;
    }
    .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet:nth-child(2){
      background-color: #0CC6FF;
    }
    .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet:nth-child(3){
      background-color: #F85465;
    }
    .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet:nth-child(4){
      background-color: #FCC015;
    }
    .swiper-pagination-bullet{
      opacity: 0.5;
      transition: 0.5s;
    }
    .swiper-pagination-bullet-active{
      opacity: 1;
      transform: scale(1.5);
    }
    .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets{
      top:10px;
    }
  }
  .nav{
    background: url("../assets/img/background.jpg");
    background-size:cover;
    .helper{
      position: absolute;
      width: 96%;
      height: 300px;
      left: 2%;
      right: 2%;
      top: 22%;
      color: #fafafa;
      background: rgba(0, 0, 0, 0.6);
      padding: 5px;
      font-size: 25px;
    }
    .slide-zoom{
      .header_page{
        height: calc( 100% - 130px);
        width: 100%;
        display: flex;
        align-items: center;
        justify-content:space-around;
        flex-wrap:wrap;

        h1{
          align-self:flex-end;
          font-family: 'Anton', sans-serif;
          font-size: 4rem;
        }
        .img-level{
          height: 300px;
          width: 100%;
          img{
            width: 65%;
          }
        }
      }
      .subButton{
        height: 80px;
        margin-bottom: 50px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content:space-around;

        .ico_block{
          width: 100%;
          display: flex;
          flex-wrap: nowrap;

          .btn_play{
            width: 70%;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .btn_help{
            width: 30%;
            border-left: 1px solid rgba(0,0,0,0.1);
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .btn_play:active, .btn_help:active{
            background-color:rgba(0,0,0,0.1);
          }
        }
      }
    }
  }
  .nav1{
    .slide-zoom{
      .subButton{
        .ico_block{
          background: linear-gradient(45deg, #6ED69A 0%,#28b15f 100%);
          box-shadow: 0px 6px 0px #28b15f, 0px 3px 15px rgba(0,0,0,.4);
        }
      }
    }
  }
  .nav2{
    .slide-zoom{
      .subButton{
        .ico_block{
          background: linear-gradient(45deg, #1fa2ff 0%,#2E77C0 100%);
          box-shadow: 0px 6px 0px #2E77C0, 0px 3px 15px rgba(0,0,0,.4);
        }
      }
    }
  }
  .nav3{
    .slide-zoom{
      .subButton{
        .ico_block{
          background: linear-gradient(45deg, #F85465 0%,#D61834 100%);
          box-shadow: 0px 6px 0px #D61834, 0px 3px 15px rgba(0,0,0,.4);
        }
      }
    }
  }
  .nav4{
    .slide-zoom{
      .subButton{
        .ico_block{
          background: linear-gradient(45deg, #ffd970 0%,#FCC015 100%);
          box-shadow: 0px 6px 0px #FCC015, 0px 3px 15px rgba(0,0,0,.4);
        }
      }
    }
  }
}