page-easy {
  .toolbar{
    box-shadow: 0px 6px 0px $easy-color-secondary, 0px 3px 15px rgba(0,0,0,.4);
  }
  .circle{
    box-shadow: 0px 0px 0px 8px $easy-color-secondary, 0px 3px 15px rgba(0, 0, 0, 0.4);
  }
  .button{
    box-shadow: 0px 6px 0px $easy-color-secondary, 0px 3px 15px rgba(0,0,0,.4);
  }
  .trophy{
    box-shadow: 0px 0px 0px 8px $easy-color-secondary, 0px 3px 15px rgba(0, 0, 0, 0.4);
    border-radius: 50%;
  }
}

